#donutChart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}
.center {
  background: #ffffff;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 30% 0 0;
}

#number {
  font-weight: bold;
}

#decimal {
  font-size: 16px;
  color: #9D9BF4;
}