.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}
div.center {
  background: #ffffff;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 30% 0 0;
}

.portion-block {
  border-radius: 50%;
  clip-path: polygon(100px 0px, 200px 0px, 200px 200px, 100px 200px);
  height: 100%;
  position: absolute;
  width: 100%;
}

.circle {
  border-radius: 50%;
  clip-path: polygon(100px 0px, 200px 0px, 200px 200px, 100px 200px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}

#number {
  font-weight: bold;
}

#decimal {
  font-size: 16px;
  color: #9D9BF4;
}