.legend-wrapper {
    display: inline-flex;
    gap: 22px;
}

.legend-items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.legend-items .color-box {
    height: 13px;
    width: 37px;
    border-radius: 33px;
}

.legend-items p {
    color: #938FA3;
    text-transform: capitalize;
    margin: 0;
    font-size: 16px;
}


@media only screen and (max-width: 600px) {
    .legend-wrapper {
        flex-wrap: wrap;
        gap: 10px;
    }
  }